<p>Schema 学習中</p>

{% schema %}

{
    "name": "Schema学習中",
    "tag": "section",
    "class": "schema",
    "settings": [
        {
            "type": "header",
            "content": "見出しです！",
            "info": "インフォメーションです！"
        },
        {
            "type": "paragraph",
            "content": "パラグラフです！"
        }
    ],
    "presets": [
        {
            "name": "セクション名",
        }
    ]
}

{% endschema %}